name: Build and Publish Docker Image

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Java setup
        uses: ./.github/actions/java-setup

      - name: Build with Maven
        run: mvn clean install -f flowave-springboot-example/pom.xml -s flowave-springboot-example/settings.xml

      - name: Build and publish Docker image
        uses: ./.github/actions/build-publish-image

